POSTGRES_HOST=db
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Optional: set DEBUG for Django (True/False)
DEBUG=True

# You can override frontend API URL during image build (optional)
# VITE_API_URL=http://localhost:8080