# Django secret key (use a secure random string in production)
SECRET_KEY=(
    "django-insecure-6vubhk2$++agnctay_4pxy_8cq)mosmn(*-#2b^v4cgsh-^!i3"
)

# Debug mode (set to False in production)
DEBUG=True

# Allowed hosts (comma-separated, leave empty for development)
ALLOWED_HOSTS=["localhost", "127.0.0.1", "0.0.0.0", "172.18.0.2"]

CORS_ALLOWED_ORIGINS=[
    "http://localhost:5173",
    "http://127.0.0.1:5173",
]

# PostgreSQL database configuration
POSTGRES_HOST=db
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password123