.idea/
.vscode/
*.iml

venv/
.venv/
env/
.env
.env.local
.env.*.local
.env.sample
.env.example

.DS_Store
Thumbs.db

*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
*.log
*.pot
*.coverage
.coverage.*
.cache/
*.egg-info/
.eggs/

db.sqlite3
**db.sqlite3

media/
staticfiles/

*.pid
*.seed

node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

htmlcov/
.tox/
.mypy_cache/
/cypress/videos/
/cypress/screenshots/
