Django==4.0.4
django-debug-toolbar==4.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-spectacular==0.26.3
Pillow==10.0.0
flake8==6.0.0
flake8-quotes==3.3.2
flake8-variables-names==0.0.6
pep8-naming==0.13.3
psycopg2-binary==2.9.6
django-cors-headers==4.1.0