asgiref==3.9.1
attrs==25.3.0
Django==5.1.11
django-cors-headers==4.7.0
django-debug-toolbar==4.4.6
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
dotenv==0.9.9
drf-spectacular==0.28.0
flake8==7.1.2
flake8-quotes==3.4.0
flake8-variables-names==0.0.6
inflection==0.5.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
mccabe==0.7.0
pep8-naming==0.14.1
pillow==11.1.0
psycopg2-binary==2.9.10
pycodestyle==2.12.1
pyflakes==3.2.0
PyJWT==2.10.1
python-dotenv==1.1.1
PyYAML==6.0.2
referencing==0.36.2
rpds-py==0.27.0
setuptools==80.9.0
sqlparse==0.5.3
tzdata==2025.2
uritemplate==4.2.0
