Django==5.0
django-debug-toolbar==5.0.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
drf-spectacular==0.22.1
Pillow==11.1.0
python-dotenv==1.0.1
flake8==5.0.4
flake8-quotes==3.4.0
flake8-variables-names==0.0.5
legacy-cgi==2.6.2
pep8-naming==0.13.2
psycopg2-binary==2.9.10